@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
	margin: 0;
	padding: 0;
}
body {
	grid-template-columns: 1fr 1fr;
	height: 100vh;
	display: grid;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-family: Acme, Arial, sans-serif;
}

.players{
background-color: rgb(241, 239, 239);
	
}

h1 {
	font-size: 1.5rem;
}
/*All player colors and stuff*/
.player1{
	padding: 10px;
	margin: 20px;
	background-color: yellow;
}

.player2{
	padding: 10px;
	margin: 20px;
	background-color: red;
}

.player3{
	padding: 10px;
	margin: 20px;
	background-color: rgb(89, 89, 235);
}

.player4{
	padding: 10px;
	margin: 20px;
	background-color: green;
}

.player5{
	padding: 10px;
	margin: 20px;
	background-color: rgb(188, 82, 188);
}
/*************************/
main {
	margin: 0.5rem auto;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0.5rem;

	display: grid;
	grid-template-columns: 1fr;
	width: 95%;
}

input,
button {
	padding: 0.35rem;
	margin-left: 1rem;
	font-size: 1.1rem;
}

input {
	width: 200px;
}

label {
	font-size: 1.2rem;
}
.listcontainer {
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 1rem;
	padding: 1rem;
}

.list {
	margin: 0.2rem;
}

ul {
	margin: 1rem;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

@media only screen and (min-width: 32.5em) {
	h1 {
		font-size: 2rem;
	}

	main {
		width: 480px;
	}
}